@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Rye&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* VARIABLES */

:root {
    /* Colors */

    --BGCOLOR: #121;
    --COLOR-GOLD: goldenrod;
    --COLOR-BRIGHTGOLD: gold;
    --COLOR-WHITE: whitesmoke;
    --BTN-BGCOLOR: #204020;

    /* Border */

    --BORDER: 1px solid var(--COLOR-GOLD);

    /* Shadow */

    --TEXT-SHADOW: 1px 1px 2px black;
}

/* General */

html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
}

body {
    background-color: var(--BGCOLOR);
}

main {
    width: 480px;
    height: 320px;
    background-image: url(../media/back.png);
    margin: 2rem auto;
    border: 5px double var(--COLOR-GOLD);
    border-radius: 10px;
    padding: 1rem;
    color: var(--COLOR-WHITE);
}

/* Main */

h1 {
    font-family: 'Rye', serif;
    color: var(--COLOR-GOLD);
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 3px black;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2em;
}

.gold {
    color: var(--COLOR-GOLD);
    font-weight: bold;
    text-shadow: var(--TEXT-SHADOW);
}

.white {
    color: var(--COLOR-WHITE);
}

.playerBank {
    border-top: var(--BORDER);
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5rem;
    padding: 0.5rem;
    justify-content: space-between;
}

.money {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.buttons {
    width: 30%;
    display: flex;
    flex-direction: row;
}

input, button {
    background-color: var(--BTN-BGCOLOR);
    font: inherit;
    font-size: 0.7rem;
    padding: 0 0.2rem;
    border-radius: 5px;
}

input {
    width: 60%;
    margin-right: 0.3rem;
    color: var(--COLOR-GOLD);
    border: var(--BORDER);
    outline: none;
    
}

.button {
    color: var(--COLOR-GOLD);
    border: var(--BORDER);
    box-shadow: 1px 1px 1px var(--COLOR-BRIGHTGOLD);
}

.button:hover {
    border-color: var(--COLOR-BRIGHTGOLD);
    color: var(--COLOR-BRIGHTGOLD);
}

.button:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}

.buttonDisabled {
    border: 1px solid gray;
    color: gray;
}

.playarea {
    display: grid;
    gap: 0.3rem 0;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
        "h4 h4 h4"
        "h1 h1a h1b"
        "h2 h2a h2b"
        "h3 h3 h3";
}

.h1 {
    grid-area: h1;
}

.h1a {
    grid-area: h1a;
}

.h1b {
    grid-area: h1b;
}

.h2 {
    grid-area: h2;
}

.h2a {
    grid-area: h2a;
}

.h2b {
    grid-area: h2b;
}


.h3 {
    grid-area: h3;
    display: flex;
    justify-content: space-evenly;
}

.h3 button {
    width: 35%;
    font-size: 0.8rem;
}

.h4 {
    grid-area: h4;
    text-align: center;
}

.h4.white {
    color: var(--COLOR-WHITE);
    text-shadow: var(--TEXT-SHADOW);
}

.h4.red {
    color: red;
    text-shadow: var(--TEXT-SHADOW);
}

.h4.green {
    color: greenyellow;
    text-shadow: var(--TEXT-SHADOW);
}

